<header>
  <div class="container" id="nav-container">
    <!-- add essa class -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
      <a [routerLink]="['/home']"class="navbar-brand" href="#">
        <img id="logo" src="../assets/img/angularlogo.png" alt="angular">Angular ToEveryone
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
        aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
        <div class="navbar-nav">
          <a [routerLink]="['/introducao']" class="nav-item nav-link" id="home-menu">Introdução</a>
          <a [routerLink]="['/servicos']" class="nav-item nav-link" id="about-menu">O que são Módulos</a>
          <a [routerLink]="['/componente']"class="nav-item nav-link" id="services-menu">Conheça os Componentes</a>
          <a [routerLink]="['/directiva']"class="nav-item nav-link" id="team-menu">O que são Diretivas</a>
          <a class="nav-item nav-link" id="portfolio-menu" href="https://angular.io/" target="_blank">Consulte a Documentação</a>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
