<div id="about-area">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12">
          <h3 class="main-title">Componentes, o essencial</h3>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="/assets/img/carousel/componente.png" alt="">
        </div>
        <div class="col-md-6">
            <h3 class="about-title">O que é um componente?</h3>
            <p>Os componentes são os blocos de construção que compõem um aplicativo. Um componente inclui uma classe TypeScript com um decorador, um modelo HTML e estilos.</p>  
            <p>O decorador especifica as seguintes informações específicas do ângulo:@Component()@Component():</p>
            <ul id="about-list">
              <li><i class="fas fa-check"></i> Um seletor CSS que define como o componente é usado em um modelo. Os elementos HTML em seu modelo que correspondem a este seletor tornam-se instâncias do componente.</li>
              <li><i class="fas fa-check"></i> Um modelo HTML que instrui o Angular sobre como renderizar o componente.</li>
              <li><i class="fas fa-check"></i> Um conjunto opcional de estilos CSS que definem a aparência dos elementos HTML do modelo.</li>
            </ul>
          </div>

      </div>
      <div class="row mt-5">
        <div class="col-md-6">
            <h3 class="about-title">A seguir está um exemplo combinado de interpolação, associação de propriedade e associação de evento em um modelo angular</h3>
            <p>Adicione funcionalidade adicional aos seus modelos por meio do uso de diretivas.</p>  
            <p>Os modelos declarativos do Angular permitem separar claramente a lógica do seu aplicativo de sua apresentação. Os modelos são baseados em HTML padrão, para facilitar a construção, manutenção e atualização.</p>
            <ul id="about-list">
              <li><i class="fas fa-check"></i> E crie suas próprias diretivas personalizadas para criar excelentes experiências de usuário.*ngIf*ngFor</li>
              <li><i class="fas fa-check"></i> O código a seguir é um exemplo da diretiva.*ngIf</li>
            </ul>
          </div> 
        <div class="col-md-6">
            <img class="img-fluid" src="/assets/img/carousel/componente2.png" alt="">
          </div>
      </div>
    </div>
  </div>
  <!-- Newsletter -->
  <div id="news-area">
    <div class="container">
      <div class="col-md-12">
        <h3 class="main-title1">Fique por dentro das novidades</h3>
      </div>
      <p>Assine nossa lista de e-mails, e receba nossos conteúdos sobre tecnologia</p>
      <form action="">
        <input type="text" class="form-control" id="email-input" name="email" placeholder="Seu melhor e-mail">
        <input type="submit" id="news-btn" value="Inscrever">
      </form>
    </div>
  </div>
  <!-- Call to Action -->
  <div id="call-area">
    <div class="container">
      <div class="row">
        <p>Deseja receber um orçamento do curso?</p>
        <button class="main-btn" id="call-btn">Peça Já</button>
      </div>
    </div>
  </div>

<!--rodape-->
<footer>
<div id="contact-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="main-title">Entre em contato conosco</h3>
      </div>
      <div class="col-md-4 contact-box">
        <i class="fas fa-phone"></i>
        <p><span class="contact-tile">Ligue para:</span> (92)99999-9999</p>
        <p><span class="contact-tile">Horários:</span> 8:00 - 19:00</p>
      </div>
      <div class="col-md-4 contact-box">
        <i class="fas fa-envelope"></i>
        <p><span class="contact-tile">Envie um email:</span> contato@angulartoeveryone.com.br</p>
      </div>
      <div class="col-md-4 contact-box">
        <i class="fas fa-map-marker-alt"></i>
        <p><span class="contact-tile">Venha tomar um café:</span> Rua Lorem Ipsum - 1314</p>
      </div>
      <div class="col-md-6" id="msg-box">
        <p>Ou nos deixe uma mensagem:</p>
      </div>
      <div class="col-md-6" id="contact-form">
        <form action="">
          <input type="text" class="form-control" placeholder="E-mail" name="email">
          <input type="text" class="form-control" placeholder="Assunto" name="subject">
          <textarea class="form-control" rows="3" placeholder="Sua mensagem..." name="message"></textarea>
          <input type="submit" class="main-btn">
        </form>
      </div>
    </div>
  </div>
</div>
<div id="copy-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Desenvolvido por Alessandra Souza &copy; 2021</p>
      </div>
    </div>
  </div>
</div>
</footer>
